{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'app01/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">    
    <title>{{ title }}</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<script type="text/javascript" src="{% static 'app01/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app01/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>